# ===== Visual Studio =====

.vs/
*.user
*.suo

CMakeUserPresets.json

# ===== CMake build =====

out/
build/
bin/

CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json

# ===== Compiled artifacts =====

*.obj
*.exe
*.pdb
*.ilk
*.lib
*.dll
*.exp
*.log
*.tlog
*.idb