# ===== Default behavior =====

* text=auto

# ===== Source =====

*.cpp           text
*.hpp           text
*.h             text
*.c             text
*.cmake         text
CMakeLists.txt  text
*.json          text

# ===== Assets =====

*.png           binary
*.jpg           binary
*.ico           binary
*.ogg           binary
*.wav           binary
*.ttf           binary